h1 {
	font-size: 71px;
	line-height: 98px;
	font-weight: bold;
	margin-left: 2px;
}

h2 {
	font-size: 48px;
	line-height: 1;
	font-weight: bold;
    background-color: rgba(165, 162, 162, 0.393);
	color: #222222;
	padding-bottom: 20px;
	margin-left: 2px;
    margin-top: 50px;
}

h3 {
	font-size: 36px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 0.8em;
	color: #222222;
	margin-left: 2px;
	padding-top:20px;
}

.menu{
    display: float;
    width: 100%;
    height: auto;
    margin: 20px auto;
    margin-top: 150px;
    text-align: center;  
    background-color: rgb(253, 249, 249);
    font-size: 1.4em;
}

.menu ul{

    margin: 0 auto;
}
.menu ul li{
    list-style: none;
    display: inline;
    padding: 5px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(24, 13, 63); 
    padding: 10px 0;
    text-align: center;
}

.menu ul li a:hover{
    background-color: rgb(24, 13, 63);
    color: rgb(185, 178, 178);
}

.logo{
    width: 300px;
    height: 112px;
    background-image: url(../img/logo.png);
    background-size: 260px 112px;
    text-align: center;
    margin: 0 auto;
    margin-top: -140px;
}

.intro{
	background-image: url(../img/banner.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 500px;
    display: block;
	color: white;
    margin-top: 35px;
    margin-bottom: 35px;
}

.intro .button{
	font-size: 16px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 35px;
    background-color: rgb(1, 5, 38);
    border: none;
    color: #6BEFEF;
    margin-top: 200px;
    margin-bottom: 25px;
    margin-left: 150px;
}

.blog{
    display: block;
	color: white;
}

.blog .blog-container-1{
    background-image: url(../img/blog1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 80%;
    height: 200px;
}

.blog .blog-container-1 {
    background: rgba(0,0,0,0.5);
	padding: 10px;
	margin: 0 auto;
}

.blog .blog-container-1 p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .blog-container-2 {
    display: none;
}

.blog .blog-container-3 {
    display: none;
}

.blog .button{
	font-size: 16px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 35px;
    background-color: rgb(1, 5, 38);
    border: none;
    color: #6BEFEF;
    margin-top: 150px;
    margin-bottom: 25px;
    margin-left: 100px;
}

.port .port-container {
    display: none;
}

button{
    font-size: 22px;
    padding-left: 32px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 35px;
    background-color: rgb(1, 5, 38);
    border: none;
    color: #6BEFEF;
    margin: 0 auto;
}

footer{
    width: auto;
    background-color:  rgb(146, 146, 146);
    line-height: 10px ;       
    clear: both;
    padding: 28px;         
    color: #6BEFEF;
    font-size: 15px;
    font-family: "arial", sans-serif;
}

.icon-social ul{
    display: inline-block;
    height: inherit;
    float: right;
    width: 75%;
    margin: 0;
    line-height: 60px;
}

.icon-social li{
    display: inline-block;
    height: inherit;
    float: right;   
}

footer img {
    max-width: 10%;
}

.contact-footer{
    float: right;
    text-decoration: none;
    color: #6BEFEF;
    font-size: 30px;
    margin-bottom: 30px;
}

a:hover{
    background-color: rgb(24, 13, 63);
    color: rgb(185, 178, 178);
}

/*---- Desktop Starts ------*/

@media only screen and (min-width: 1200px){
    .menu{
        display: flex;
        width: 100%;
        height: auto;
        margin: 20px auto;
        margin-top: 60px;
        background-color: rgb(255, 255, 255);
        font-family: 'Fredoka', sans-serif;
        font-size: 2.5em;
    }
      
    .menu-h{
        list-style: none;
        padding: 0;   
    }
    
    .menu ul{
        margin: 0 auto;
    }
    .menu ul li{
        display: inline-block;
        list-style: none;
        position: relative;
    }
    
    .menu ul li a{
        text-decoration: none;
        color: rgb(24, 13, 63); 
        padding: 10px 0;
        display: block;
        text-align: center;
    }
    
    .menu ul li a:hover{
        background-color: rgb(24, 13, 63);
        color: rgb(185, 178, 178);
    }
    
  
    .menu li:nth-child(1){
        margin-right: 50px;
    }
    .menu li:nth-child(2){
        margin-right: 400px;
    }
    
    .menu li:nth-child(3){
        margin-left: 20px;
    }
    

    .menu li:nth-child(4) a{
        margin-left: 50px;
    }
    
    .menu li:nth-child(1n+2) a{
        text-align: right;
    }
    
    .logo{
        margin: 0 auto;
        width: 300px;
        height: 112px;
        background-image: url(../img/logo.png);
        background-size: 300px 112px;
        position: absolute;
        left: 800px;
        top: 5px; 
    }


    .port .port-container{
        display: flex;
        
    }

    .test{
        display: flex;
    }

    footer img {
        max-width: 10%;
    }

    .contact-footer{
        font-size: 50px;
    }
}